/* 
  Portfolio Project Stylesheet - index.html
  Author: Matthew Wiberg 
*/

/* Universal Styles */

html {
  height: 100%;
  font-size: 16px;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Kumbh Sans", sans-serif;
}

main {
  width: 100%;
}

h1,h2,h3 {
  margin: 0;
  padding: 0;
  font-family: "Russo One", sans-serif;
}

h2 {
  margin: 2.5% 0;
}

/* h1 {
  font-size: 2.25rem;
  margin: 2rem 0;
  font-weight: bold;
}

h2 {
  font-size: 1.75rem;
  margin: 1.5rem 0;
  font-weight: bold;
}

h3 {
  font-size: 1.25rem;
  margin: 1.5rem 0;
  font-weight: bold;
} */

/* General Styles */

.container {
  width: 100%;
  padding-bottom: 5%;
  /* background-color: hsla(23, 95%, 52%,1); */
  text-align: center;
}

.no-border-right {
  border-right: none;
}

/* Header Styles */

header {
  width: 100%;
  /* padding-top: 5%; */
  text-align: center;
  color: white;
  background-color: black;
}

header h1 {
  /* margin-bottom: 4%; */
  padding: 4% 0;
}

header ul {
  height: 56px;
  display: flex;
}

header li {
  height: 100%;
  width: 25%;
  color: black;
  list-style-type: none;
  border-top: 3px solid white;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  background-color: hsla(23, 95%, 52%,1);
}

header li:active {
  background-color: hsla(23, 95%, 42.5%,1);
}

header a {
  height: 100%;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}



/* WEBSITE INTRODUCTION PAGE */

/* introduction Styles */

#introduction img {
  height: auto;
  max-width: 100%;
}

#introduction p {
  margin: 0;
}

/* portfolio Styles */

#portfolio img {
  height: auto;
  max-width: 100%;
}

#portfolio p {
  width: 75%;
  margin: 0 auto;
  text-align: left;
  line-height: 1.2;
}

/* WEBSITE ABOUT PAGE */

/* WEBSITE PORTFOLIO PAGE */

/* WEBSITE CONTACT PAGE */



/* Footer Styles */

footer {
  width: 100%;
  padding: 5% 2.5%;
  color: white;
  background-color: black;
  text-align: center;
}

footer nav {
  width: 100%;
  margin-bottom: 5%;
}

footer li {
  margin: 0 1%;
  display: inline-block;
}

footer a {
  height: 100%;
  width: 100%;
}



/* --- MEDIA QUERIES --- */

@media only screen and (min-width: 480px) {

  /* Header Styles */

  /* General Styles */

  .container {
    width: 80%;
    margin: 0 auto;
    padding: 10% 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
  }

 .container img {
  width: 55%;
  }

  .container h2 {
    margin: 0 0 5% 0;
  }

    /* WEBSITE ABOUT PAGE */

  /* Introduction Styles */

  #introduction {
    flex-direction: row-reverse;
  }

  /* Portfolio Styles */

  #portfolio  {
    padding-bottom: 10%;
    text-align: center;
  }

  #portfolio p  {
    margin: 0 auto;
    width: 65%;
  }

}

