/* 
  Portfolio Project Stylesheet - index.html
  Author: Matthew Wiberg 
*/

/* Universal Styles */
html {
  height: 100%;
  text-align: center;
  font-size: 16px;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  height: 100%;
  width: 100%;
  font-family: "Verdana", sans-serif;
  color: white;
}
main {
  width: 100%;
}
h1,h2,h3 {
  margin: 0;
  padding: 0;
  /* font-family: "Russo One", sans-serif; */
}
h2 {
  margin: 2.5% 0;
}

/* General Styles */
.container {
  width: 100%;
  padding-bottom: 5%;
  text-align: center;
  line-height: 1.3;
}
.container p {
  width: 75%;
  margin: 0 auto;
}
.grid-container-12c {
  display: grid;
  grid-template: repeat(4, auto)/1fr;
}
.no-border-right {
  border-right: none;
}
.no-padding-right {
  padding-right: 0;
}
.short-hr {
  height: 1px;
  width: 20%;
  margin: 5% auto 5% auto;
  text-align: center;
  border: 0px solid black;
  border-radius: 0px;
  background-color: black;
}

/* Header Styles */
header {
  width: 100%;
  background-color: black;
}
header h1 {
  padding: 20px 0;
}
header ul {
  height: 50px;
  display: flex;
}
header li {
  height: 100%;
  width: 25%;
  color: black;
  list-style-type: none;
  border-top: 3px solid white;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  background-color: hsla(23, 95%, 52%,1);
}
header li:active {
  background-color: hsla(23, 95%, 42.5%,1);
}
header a {
  height: 100%;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* Main Styles */
main {
  color: black;
}



/* WEBSITE INTRODUCTION PAGE */

/* Introduction Styles */
#introduction img {
  max-width: 100%;
}
#introduction a {
  display: none;
}

/* Portfolio Styles */
#portfolio img {
  max-width: 100%;
}
#portfolio hr {
  display: none;
}

/* WEBSITE ABOUT PAGE */

/* About Styles */
#about img {
  max-width: 100%;
}
#about h2,
#about p {
  color: black;
}
#about p {
  margin-bottom: 1.5%;
}

/* Description Styles */
#description {
  grid-area: 1/1/2/2;
}
#description p {
  display: none;
}

/* Profile-Picture Styles */
#profile-picture {
  grid-area: 2/1/3/2;
}

/* Profile Styles */
#profile {
  grid-area: 3/1/4/2;
}
/* Skills Styles */
#skills {
  grid-area: 4/1/5/2;
}
#skills h2 {
  margin: 5% 0 2.5% 0;
}


/* WEBSITE PORTFOLIO PAGE */
/* WEBSITE CONTACT PAGE */


/* Footer Styles */
footer {
  width: 100%;
  padding: 20px 45px 30px 45px;
  background-color: black;
  text-align: center;
}
footer nav {
  width: 100%;
  margin-bottom: 10px;
}
footer li {
  margin: 0 1%;
  display: inline-block;
}
footer img {
  transition: opacity 0.25s;
}
footer img:hover {
  opacity: 0.5;
}







/* --- MEDIA QUERIES --- */

@media only screen and (min-width: 480px) {

  /* Universal Styles */
  h2 {
    font-size: 1.75rem;
  }

  /* General Styles */

  /* Header Styles */
  /* Footer Styles */


  /* WEBSITE INTRODUCTION PAGE */

  /* Introduction Styles */

  /* Portfolio Styles */
  #portfolio {
    background-color: rgba(230,126,34,1);
  }
  #portfolio img {
    display: none;
  }
  #portfolio h2 {
    padding-top: 4%;
    margin-top: 0;
    margin-bottom: 1.5%;
  }
  #portfolio h2,
  #portfolio p {
    color: white;
  }
  #portfolio hr {
    height: 3px;
    width: 65px;
    margin: 0 auto 1.5% auto;
    text-align: center;
    border: 1px solid white;
    border-radius: 3px;
    background-color: white;
    display: block;
  }

  /* WEBSITE ABOUT PAGE */
  /* WEBSITE PORTFOLIO PAGE */
  /* WEBSITE CONTACT PAGE */

}

@media only screen and (min-width: 768px) {

  /* Icon Styles */
  .material-icons.md-48 { font-size: 48px;}
  .material-icons.md-light { color: rgba(255, 255, 255, 0.9); }

  /* Universal Styles */
  h2 {
    font-size: 2.25rem;
    margin-top: 0;
    color: rgba(255,255,255, 0.9);
  }
  p {
    font-size: 1.25rem;
    color: rgba(255,255,255, 0.7);
  }

  /* General Styles */
  .container {
    width: 100%;
  }
  .grid-container-12c {
    display: grid;
    grid-template: repeat(6, 1fr)/repeat(12, 1fr);
  }

  /* Header Styles */
  header {
    padding: 12.5px 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header h1 {
    padding: 0;
  }
  header li {
    width: auto;
    padding: 0 25px;
    border: none;
    font-size: 1.25rem;
    background-color: transparent;
  }
  header li:active {
    background-color: transparent;
  }
  header li a {
    color: rgba(255,255,255,1.0);
    transition: color 0.25s;
  }
  header li a:hover {
    color: rgba(255,255,255,0.5)
  }
  
  /* Footer Styles */
  footer {
    padding: 20px 45px 30px 45px;
  }
  footer nav {
    margin-bottom: 10px;
  }


  /* WEBSITE INTRODUCTION PAGE */

  /* Introduction Styles */
  #introduction {
    height: 70vh;
    padding: 0;
    background-image: url("../Images/avatar.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  #introduction::before {
    content: " ";
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
  }
  #introduction img {
    display: none;
  }
  #introduction h2 {
    z-index: 2;
    margin-bottom: 1.5%;
  }
  #introduction p {
    z-index: 2;
    margin-bottom: 6.5%;
  }
  #introduction a {
    z-index: 2;
    display: block;
  }
  #introduction span {
    color: rgba(255,255,255,0.7);
    transition: color 0.25s;
  }
  #introduction span:hover {
    color: rgba(255,255,255,0.5);
  }

  /* Portfolio Styles */

  /* WEBSITE ABOUT PAGE */

  /* About Styles */
  .about-content {
    min-height: 600px;
    height: 80vh ;
    width: 100%;
    /* padding: 2% 4%; */
    display: flex;
    align-items: center;
    background-color: gray;
  }
  #about {
    max-height: 800px;
    min-height: 475px;
    height: 700px;
    /* height: 100%; */
    max-width: 1400px;
    padding-bottom: 0;
    margin: 0 auto;
    grid-gap: 15px;
  }
  #about img {
    max-height: 165px;
    max-width: 100%;
  }
  #about h2 {
    font-size: 1.5rem;
  }
  #about p {
    font-size: 1rem;
  }

  /* Description Styles */
  #description {
    padding: 2.5%;
    grid-area: 1/1/4/9;
    background-color: darkgray;
  }
  #description p {
    display: block;
  }

  /* Skills Styles */
  #skills {
    padding: 2.5% 5%;
    grid-area: 4/1/7/9;
    background-color: darkgray;
  }
  #skills h2 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  .skills-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .skills-container p {
    width: 20%;
    margin: 10px 5px;
    padding: 1.5% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    border-radius: 5px;
  }

  /* Profile Styles */
  #profile {
    grid-area: 1/9/7/13;
    background-color: darkgray;
  }
  #profile h2 {
    width: 90%;
    margin: 5% auto 7.5% auto;
  }
  #profile p {
    margin-bottom: 10%;
  }
  .profile-container {
    height: 42.5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  #profile hr,
  .description-text {
    display: none;
  }

  /* WEBSITE PORTFOLIO PAGE */
  /* WEBSITE CONTACT PAGE */

}

@media only screen and (min-width: 1024px) {

  /* Universal Styles */
  /* General Styles */

  /* Header Styles */
  /* Footer Styles */


  /* WEBSITE INTRODUCTION PAGE */
  /* WEBSITE ABOUT PAGE */
  /* WEBSITE PORTFOLIO PAGE */
  /* WEBSITE CONTACT PAGE */

}