/* 
  Portfolio Project Stylesheet - index.html
  Author: Matthew Wiberg 
*/

/* Universal Styles */

html {
  height: 100%;
  font-size: 16px;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  width: 100%;
}

main {
  width: 100%;
}

h1,h2,h3 {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 2.5% 0;
}

/* h1 {
  font-size: 2.25rem;
  margin: 2rem 0;
  font-weight: bold;
}

h2 {
  font-size: 1.75rem;
  margin: 1.5rem 0;
  font-weight: bold;
}

h3 {
  font-size: 1.25rem;
  margin: 1.5rem 0;
  font-weight: bold;
} */

/* General Styles */

.container {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 5%;
  background-color: orangered;
}

/* Header Styles */

header {
  /* display: flex; */
  /* align-items: center;
  justify-content: space-between; */
  width: 100%;
  padding: 5% 2.5% 0 2.5%;
  text-align: center;
}

header ul {
  display: flex;
  justify-content: space-evenly;
  margin: 5% 0;
}

header li {
  height: 80%;
  display: inline-block;
  list-style-type: none;
}

/* introduction Styles */

#introduction {
  text-align: center;
}

#introduction img {
  height: auto;
  max-width: 100%;
}

/* portfolio Styles */

#portfolio {
  text-align: center;
}

#portfolio img {
  height: auto;
  max-width: 100%;
}

#portfolio p {
  width: 70%;
  margin: 0 auto;
  text-align: left;
  line-height: 1.2;
}

/* Footer Styles */

footer {
  width: 100%;
  padding: 5% 2.5%;
  color: white;
  background-color: black;
  text-align: center;
}

footer nav {
  width: 100%;
  margin-bottom: 2.5%;
}

footer li {
  display: inline-block;
}

