/* 
  Portfolio Project Stylesheet - index.html
  Author: Matthew Wiberg 
*/

/* Universal Styles */

html {
  height: 100%;
  font-size: 16px;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  height: 100%;
  width: 100%;
  font-family: "Verdana", sans-serif;
}
main {
  width: 100%;
}
h1,h2,h3 {
  margin: 0;
  padding: 0;
  /* font-family: "Russo One", sans-serif; */
}
h2 {
  margin: 2.5% 0;
}

/* General Styles */

.container {
  width: 100%;
  padding-bottom: 5%;
  text-align: center;
  line-height: 1.3;
}
.container p {
  width: 75%;
  margin: 0 auto;
}
.no-border-right {
  border-right: none;
}
.no-padding-right {
  padding-right: 0;
}

/* Header Styles */

header {
  width: 100%;
  text-align: center;
  color: white;
  background-color: black;
}
header h1 {
  padding: 20px 0;
}
header ul {
  height: 56px;
  display: flex;
}
header li {
  height: 100%;
  width: 25%;
  color: black;
  list-style-type: none;
  border-top: 3px solid white;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  background-color: hsla(23, 95%, 52%,1);
}
header li:active {
  background-color: hsla(23, 95%, 42.5%,1);
}
header a {
  height: 100%;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}



/* WEBSITE INTRODUCTION PAGE */

/* introduction Styles */

#introduction img {
  max-width: 100%;
}
#introduction a {
  display: none;
}

/* portfolio Styles */

#portfolio img {
  max-width: 100%;
}

/* WEBSITE ABOUT PAGE */

/* WEBSITE PORTFOLIO PAGE */

/* WEBSITE CONTACT PAGE */


/* Footer Styles */

footer {
  width: 100%;
  padding: 5% 2.5%;
  color: white;
  background-color: black;
  text-align: center;
}
footer nav {
  width: 100%;
  margin-bottom: 5%;
}
footer li {
  margin: 0 1%;
  display: inline-block;
}



/* --- MEDIA QUERIES --- */

@media only screen and (min-width: 480px) {

  /* Header Styles */
  /* Footer Styles */


  /* WEBSITE ABOUT PAGE */

  /* General Styles */

  h2 {
    font-size: 1.75rem;
  }
  .container {
    width: 85%;
    margin: 0 auto;
  }

  /* Introduction Styles */

  #introduction {
    padding-top: 5%;
  }

    /* WEBSITE ABOUT PAGE */
    /* WEBSITE PORTFOLIO PAGE */
    /* WEBSITE CONTACT PAGE */

}

@media only screen and (min-width: 768px) {

  /* Icon Styles */
  
  .material-icons.md-48 { font-size: 48px;}
  .material-icons.md-light { color: rgba(255, 255, 255, 0.9); }

  /* Header Styles */

  header {
    padding: 30px 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header h1 {
    padding: 0;
  }
  header li {
    width: auto;
    padding: 0 10px;
    border: none;
    font-size: 1.4rem;
    background-color: black;
  }
  header a {
    color: white;
  }
  
  /* Footer Styles */


  /* WEBSITE INTRODUCTION PAGE */

  /* General Styles */

  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2.25rem;
    margin-top: 0;
    color: rgba(255,255,255, 0.9);
  }
  p {
    font-size: 1.25rem;
    color: rgba(255,255,255, 0.7);
  }
  .container {
    width: 100%;
  }

  /* Introduction Styles */

  #introduction {
    height: 60vh;
    padding: 0;
    background-image: url("../Images/avatar.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  #introduction::before {
    content: " ";
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
  }
  #introduction img {
    display: none;
  }
  #introduction h2,
  #introduction p {
    z-index: 2;
    margin-bottom: 1.5%;
  }
  #introduction a {
    z-index: 2;
    margin-bottom: 4%;
    display: block;
  }

  /* Portfolio Styles */

  #portfolio {
    background-color: rgba(230,126,34,1);
  }
  #portfolio img {
    display: none;
  }
  #portfolio h2 {
    padding-top: 4%;
    margin-bottom: 1.5%;
  }
  #portfolio hr {
    height: 3px;
    width: 65px;
    margin: 0 auto 1.5% auto;
    text-align: center;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    background-color: white;
  }

    /* WEBSITE ABOUT PAGE */
    /* WEBSITE PORTFOLIO PAGE */
    /* WEBSITE CONTACT PAGE */

}

@media only screen and (min-width: 1024px) {
    /* Header Styles */

    header li {
      font-size: 1.5rem;
    }
    /* Footer Styles */
  
  
    /* WEBSITE INTRODUCTION PAGE */

    /* General Styles */
    
    /* Portfolio Styles */
  
  
  
      /* WEBSITE ABOUT PAGE */
      /* WEBSITE PORTFOLIO PAGE */
      /* WEBSITE CONTACT PAGE */

}