/* 
  Portfolio Project Stylesheet - index.html
  Author: Matthew Wiberg 
*/

/* Universal Styles */

html {
  height: 100%;
  font-size: 16px;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Kumbh Sans", sans-serif;
  /* background-color: #F2F3F4; */
}

main {
  width: 100%;
}

h1,h2,h3 {
  margin: 0;
  padding: 0;
  font-family: "Russo One", sans-serif;
}

h2 {
  margin: 2.5% 0;
}

/* General Styles */

.container {
  width: 100%;
  padding-bottom: 5%;
  text-align: center;
}

.no-border-right {
  border-right: none;
}

.no-padding-right {
  padding-right: 0;
}

/* Header Styles */

header {
  width: 100%;
  text-align: center;
  color: white;
  background-color: black;
}

header h1 {
  padding: 4% 0;
}

header ul {
  height: 56px;
  display: flex;
}

header li {
  height: 100%;
  width: 25%;
  color: black;
  list-style-type: none;
  border-top: 3px solid white;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  background-color: hsla(23, 95%, 52%,1);
}

header li:active {
  background-color: hsla(23, 95%, 42.5%,1);
}

header a {
  height: 100%;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}



/* WEBSITE INTRODUCTION PAGE */

/* introduction Styles */

#introduction img {
  height: auto;
  max-width: 100%;
}

#introduction p {
  margin: 0;
}

/* portfolio Styles */

#portfolio img {
  height: auto;
  max-width: 100%;
}

#portfolio p {
  width: 75%;
  margin: 0 auto;
  text-align: left;
  line-height: 1.3;
}

/* WEBSITE ABOUT PAGE */

/* WEBSITE PORTFOLIO PAGE */

/* WEBSITE CONTACT PAGE */



/* Footer Styles */

footer {
  width: 100%;
  padding: 5% 2.5%;
  color: white;
  background-color: black;
  text-align: center;
}

footer nav {
  width: 100%;
  margin-bottom: 5%;
}

footer li {
  margin: 0 1%;
  display: inline-block;
}



/* --- MEDIA QUERIES --- */

@media only screen and (min-width: 481px) {

  /* Header Styles */
  /* Footer Styles */


  /* WEBSITE ABOUT PAGE */

  /* General Styles */

  .container {
    width: 80%;
    margin: 0 auto;
    padding: 10% 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
 .container img {
  width: 55%;
  }
  .container h2 {
    width: 90%;
    margin: 0 0 5% 0;
  }
  .container-text-positioning {
    width: 100%;
  }

  /* Introduction Styles */

  #introduction {
    flex-direction: row-reverse;
  }
  #introduction p {
    width: 90%;
  }

  /* Portfolio Styles */

  #portfolio  {
    padding-top: 15%;
    padding-bottom: 10%;
  }
  #portfolio h2 {
    margin: 0 auto 5% auto;
  }
  #portfolio h2,
  #portfolio p {
    text-align: right;
    float: right;
  }
  #portfolio p  {
    margin: 0 auto;
    width: 65%;
  }
  #portfolio img {
    width: 70%;
  }

    /* WEBSITE ABOUT PAGE */
    /* WEBSITE PORTFOLIO PAGE */
    /* WEBSITE CONTACT PAGE */

}

@media only screen and (min-width: 769px) {

  /* Header Styles */

  header {
    padding: 4% 4%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header h1,
  header nav {
  padding: 0;
  display: inline-block;
  }

  header nav {
    width: 40%;
  }

  header ul {
    display: flex;
    justify-content: space-between;
  }

  header li {
    width: auto;
    padding: 0 2%;
    border: none;
    font-size: 1.4rem;
    background-color: black;
  }

  header a {
    color: white;
  }
  
  /* Footer Styles */


  /* WEBSITE INTRODUCTION PAGE */

  /* General Styles */

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  p {
    font-size: 1.25rem;
  }

  /* Portfolio Styles */



    /* WEBSITE ABOUT PAGE */
    /* WEBSITE PORTFOLIO PAGE */
    /* WEBSITE CONTACT PAGE */

}

