/* 
  Portfolio Project Stylesheet - index.html
  Author: Matthew Wiberg 
*/

/* Universal Styles */
html {
  height: 100%;
  font-size: 16px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*, *:before, *:after {
  box-sizing: inherit;
}

  /* Disable smooth scrolling when users have prefers-reduced-motion enabled */
  @media screen and (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

body {
  height: 100%;
  width: 100%;
  font-family: "Verdana", sans-serif;
  /* font-family: 'Trispace', sans-serif; */
  /* font-family: 'Roboto Mono', monospace; */
  color: white;
}
main {
  width: 100%;
  color: black;
}
a {
  color: white;
}
h1,h2,h3 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}

/* General Styles */
.container {
  width: 100%;
  padding: 20px;
  line-height: 1.75;
  z-index: 2;
}
.container p {
  width: 90%;
  margin: 0 auto;
}
.no-border-right {
  border-right: none;
}
.no-padding-right {
  padding-right: 0;
}


/* Header Styles */
header {
  width: 100%;
  background-color: black;
}
header h1 {
  padding: 20px 0;
  text-align: center;
}
header ul {
  height: 50px;
  display: flex;
}
header li {
  height: 100%;
  width: 33.33%;
  color: black;
  list-style-type: none;
  border-top: 3px solid white;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  background-color: hsla(28,80%,52%,1);
}
header li:active {
  background-color: hsla(28,80%,42.5%,1);
}
header a {
  height: 100%;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}


/* WEBSITE INTRODUCTION PAGE */

/* Introduction and Portfolio Styles */
#introduction,
#portfolio {
  /* line-height: 1.5; */
  text-align: center;
}
#introduction h2,
#portfolio h2 {
  margin-bottom: 10px;
}

/* Introduction Styles */
#introduction img {
  max-width: 100%;
}
#introduction a {
  display: none;
}
/* ------------------------------- */
#introduction .container {
  color: white;
  background-color: darkgray;
}


/* Portfolio Styles */
#portfolio img {
  max-width: 100%;
}
/* #portfolio hr {
  display: none;
} */
#portfolio hr {
  height: 3px;
  width: 65px;
  margin: 30px auto;
  text-align: center;
  border: 1px solid black;
  border-radius: 3px;
  background-color: black;
  display: block;
}



/* WEBSITE ABOUT PAGE */

/* About-Me Styles */
.about-me {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}
.about-me h2 {
  padding: 15px;
  text-align: center;
}
.about-me h3 {
  margin: 15px 0;
}
#top-header {
  margin-top: 0;
}
.about-me-content {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.about-contact-link {
  color: black;
  text-decoration: underline;
  transition: opacity 0.25s;
}
.about-contact-link:hover {
  opacity: 0.5;
}
.about-text {
  width: 100%;
  padding: 15px;
}
.about-text li {
  margin-top: 10px;
  list-style-type: none;
}
.about-img-container {
  width: 100%;
}
.about-img-container img {
  max-width: 100%;
}
.resume-btn {
  width: auto;
  margin: 15px 0;
  color: black;
  display: block;
  font-size: 1.17rem;
  font-weight: bold;
  line-height: 1.5;
}





/* WEBSITE PORTFOLIO PAGE */

/* Portpage Styles */
.portpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
  text-align: center;
}
.portpage h2 {
  padding: 15px;
}
.portpage h3 {
  margin-bottom: 5px;
}
.portpage a {
  color: black;
}
.portpage-content img {
  max-width: 100%;
}
.portpage-text-container {
    padding: 15px;
}


/* Project-Pages Styles */
.project-page {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}
.project-page h2 {
  padding: 15px;
  text-align: center;
}
.project-page h3 {
  margin: 15px 0;
}
.project-page p {
  margin: 0;
}
.project-content {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.project-text {
  width: 100%;
  padding: 15px;
}
.project-text p {
  margin-top: 10px;
}
.project-text li {
  margin-top: 10px;
  list-style-type: none;
}
.project-link {
  color: black;
  text-decoration: underline;
  transition: opacity 0.25s;
}
.project-link:hover {
  opacity: 0.5;
}
.project-img-container {
  width: 100%;
}
.project-img-container img {
  max-width: 100%;
}


/* Footer Styles */
footer {
  width: 100%;
  padding: 20px 5px 25px 5px;
  background-color: black;
  text-align: center;
}
footer nav {
  width: 100%;
  margin-bottom: 5px;
}
footer nav li {
  margin: 0 2.5px;
  display: inline-block;
}
footer img {
  transition: opacity 0.25s;
}
footer img:hover {
  opacity: 0.5;
}
footer small {
  margin-bottom: 5px;
  color: gray;
  font-size: .75rem;
  display: inline-block;
}
#icon-credit-list {
  margin: 10px 0;
}
.icon-credit-link {
  transition: color 0.25s;
}
.icon-credit-link:hover {
  color: white;
}
.icon-separator {
  display: none;
}








/* ------ MEDIA QUERIES ------ */

@media only screen and (min-width: 480px) {

  /* Universal Styles */
  h2 {
    font-size: 1.75rem;
  }

  /* General Styles */
  .bottom-footer {
    position: absolute;
    bottom: 0;
  }
  .content-wrap {
    min-height: 100%;
    padding-bottom: 197px;
    position: relative;
  }

  /* Header Styles */
  /* Footer Styles */


  /* WEBSITE INTRODUCTION PAGE */

  /* Introduction Styles */

  #introduction img {
    width: 90%;
    padding: 40px 15px 0 15px;
  }
  #introduction .container {
    width: 90%;
    margin: 0 auto;
    color: black;
    background-color: transparent;
  }

  /* Portfolio Styles */

  #portfolio img {
    width: 90%;
    padding: 0 15px;
  }
  #portfolio h2 {
    margin-bottom: 10px;
  }
  #portfolio .container {
    width: 90%;
    margin: 0 auto;
  }


  /* WEBSITE ABOUT PAGE */
  
  /* About-Me Styles */
  .about-img-container {
    width: 90%;
    padding: 0 15px;
  }
  .about-img-container img {
    border-radius: 3px;
  }
  .about-text {
    width: 90%;
  }

  

  /* WEBSITE PORTFOLIO PAGE */

  /* Portfolio Page Styles */
  .portpage h3 {
    font-size: 1.25rem;
  }
  .portpage-content {
    width: 90%;
    padding: 0 15px 15px 15px;
  }

  /* Project-Pages Styles */
  .project-img-container {
    width: 90%;
    padding: 0 15px;
  }
  .project-img-container img {
    border-radius: 3px;
  }
  .project-text {
    width: 90%;
  }

}

/* Breakpoint for footer list containing the links that credit the icons used */
@media only screen and (min-width: 592px) {

  /* General Styles */
  .content-wrap {
    padding-bottom: 157px;
  }

  /* Footer Styles */
  footer {
    padding: 20px 45px 25px 45px;
  }
  footer li {
    display: inline-block;
  }
  .icon-separator {
    display: inline;
    color: gray;
    font-size: 0.75rem;
  }

}

@media only screen and (min-width: 768px) {

  /* Icon Styles */
  .material-icons.md-48 { font-size: 48px;}
  .material-icons.md-light { color: rgba(255, 255, 255, 0.9); }

  /* Universal Styles */
  h2 {
    font-size: 2.25rem;
  }
  /* General Styles */
  .black-background {
    background-color: black;
  }
  .transparent-background {
    background-color: transparent;
  }
  .content-wrap {
    display: block;
  }

  /* Header Styles */
  header {
    padding: 15px 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header h1 {
    padding: 0;
  }
  header li {
    width: auto;
    padding: 0 25px;
    border: none;
    font-size: 1.25rem;
    background-color: transparent;
  }
  header li:active {
    background-color: transparent;
  }
  header li a {
    color: rgba(255,255,255,1.0);
    transition: color 0.25s;
  }
  header li a:hover {
    color: rgba(255,255,255,0.5)
  }
  #intro-header {
    position: fixed;
    top: 0;
    z-index: 3;
  }
  

  /* WEBSITE INTRODUCTION PAGE */

  /* Introduction Styles */
  #introduction {
    min-height: 600px;
    height: 85vh;
    background-image: url("../Images/introPageBackground1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  #introduction::before {
    content: " ";
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
  }
  #introduction img {
    display: none;
  }
  #introduction .container {
    width: 100%;
    margin: 0;
  }
  #introduction h2 {
    margin-bottom: 15px;
    color: rgba(255,255,255, 0.9);
    font-size: 3.25rem;
    z-index: 2;
  }
  #introduction p {
    margin-bottom: 6%;
    color: rgba(255,255,255, 0.7);
    z-index: 2;
  }
  #introduction a {
    display: inline;
    z-index: 2;
  }
  #introduction span {
    color: rgba(255,255,255,0.7);
    transition: color 0.25s;
  }
  #introduction span:hover {
    color: rgba(255,255,255,0.5);
  }

  /* Portfolio Styles */
  #portfolio {
    /* height: 20vh; */
    padding: 40px 0;
    background-color: rgba(230,126,34,1);
  }
  #portfolio img {
    display: none;
  }
  #portfolio .container {
    width: 100%;
    margin: 0;
  }
  #portfolio h2,
  #portfolio p {
    color: white;
  }
  #portfolio hr {
    height: 3px;
    width: 65px;
    margin: 30px auto;
    text-align: center;
    border: 1px solid white;
    border-radius: 3px;
    background-color: white;
    display: block;
  }


  /* WEBSITE ABOUT PAGE */
  
  /* About-Me Styles */
  .about-img-container {
    width: 85%;
    padding: 0 15px;
  }
  .about-text {
    width: 85%;
  }

  /* WEBSITE PORTFOLIO PAGE */

  /* Portfolio Page Styles */
  .portpage h3 {
    font-size: 1.5rem;
  }
  .portpage-content {
    width: 85%;
  }


}

@media only screen and (min-width: 1024px) {

  /* Universal Styles */
  /* General Styles */
  /* Header Styles */
  /* header {
    padding: 30px 60px;
  } */
  /* Footer Styles */


  /* WEBSITE INTRODUCTION PAGE */

  /* Portfolio Styles */
  #portfolio p {
    width: 50%;
  }

  /* WEBSITE ABOUT PAGE */

  /* About-Me Styles */
  .about-me {
    align-items: center;
  }
  .about-me h2 {
    padding: 30px;
    font-size: 3.25rem;
    text-align: center;
  }
  .about-me h3 {
    font-size: 1.5rem;
  }
  .about-me-content {
    max-width: 1400px;
    width: 90%; 
    flex-direction: row;
    align-items: flex-start;
  }
  .about-text {
    width: 100%;
  }
  .about-img-container {
    width: 90%;
    padding: 15px;
  }
  .resume-btn {
    font-size: 1.5rem;
  }

  /* WEBSITE PORTFOLIO PAGE */

  /* Portfolio Page Styles */
  .portpage {
    padding-bottom: 40px;
  }
  .portpage h2 {
    font-size: 3.25rem;
    padding: 30px;
  }
  .portpage h3 {
    font-size: 1.25rem;
    margin-bottom: 0;
  }
  .portpage-content {
    max-width: 1350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .project {
    /* width: 45%; */
    width: 350px;
    padding: 15px 30px;
  }
  .project img {
    height: 100%;
    width: 100%; 
    position: relative;
    box-shadow: 0px 4px 10px black;
    border-radius: 3px;
    transition: opacity 0.2s;
  }
  .project img:hover {
    opacity: 0.7;
  }
  .dim-layer {
    height: 210px;
    width: 270px;
    /* width: 85%; */
    margin: 0 auto;
    position: relative;
    border-radius: 3px;
    transition: background-color 0.2s;
  }
  .dim-layer:hover {
    background-color: black;
  }
  .brighten-layer {
    height: 210px;
    width: 270px;
    /* width: 85%; */
    margin: 0 auto;
    position: relative;
    border-radius: 3px;
    transition: background-color 0.2s;
  }
  .brighten-layer:hover {
    background-color: white;
  }

  /* Project-Pages Styles */
  .project-page {
    align-items: center;
  }
  .project-page h2 {
    padding: 30px;
    font-size: 3.25rem;
  }
  .project-page h3 {
    margin: 15px 0;
    font-size: 1.5rem;
  }
  .project-content {
    max-width: 1400px;
    width: 90%; 
    flex-direction: row;
    align-items: flex-start;
  }
  .project-text {
    width: 100%;
  }
  .project-img-container {
    width: 100%;
    padding: 15px;
  }
  .project-img-container img {
    max-width: 100%;
  }

}

/* Breakpoint for about-me section photo resizing */
@media only screen and (min-width: 1200px) {

  /* WEBSITE ABOUT PAGE */

  /* About-Me Styles */
  .about-img-container {
    width: 70%;
  }

}

/* Breakpoint for portfolio page content sizing */
@media only screen and (min-width: 1270px) {

  /* WEBSITE PORTFOLIO PAGE */

  /* Portfolio Page Styles */
  .portpage-content {
    max-width: 1080px;
    display: flex;
    justify-content: flex-start;
  }
}


/* Breakpoint for about-me section photo resizing */
@media only screen and (min-width: 1400px) {

  /* Header Styles */
  /* header {
    padding: 15px 200px;
  } */

  /* WEBSITE ABOUT PAGE */

  /* About-Me Styles */
  .about-img-container {
    width: 50%;
  }

}